# Python cache files
__pycache__/
.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints/
*.csv
*.nc


# All data folders (case-sensitive)
data/
Data/

BedMachineAntarctica-v3.nc

data/
Data/
.ipynb_checkpoints/
BedMachineAntarctica-v3.nc

# 2_Statistical_Analysis

2_Statistical_Analysis/*.npy
2_Statistical_Analysis/*.txt

## MCMC chains
MCMC_chains/*.txt
MCMC_chains/*.npy